@charset "UTF-8";
/* ========================================================== */
/* Global Imports */
/* ========================================================== */
/* ========================================================== */
/* Base Imports */
/* ========================================================== */
/* ========================================================== */
/* Variables */
/* ========================================================== */
/* ===================================== 
   Page Styles
======================================== */
* {
  box-sizing: border-box;
}

body {
  font-size: 1.4em;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.container > * {
  color: #fff;
  text-shadow: 0 2px 0 rgba(110, 133, 156, 0.12);
  padding: 0.85em;
  border: solid 1px rgba(110, 133, 156, 0.15);
}

nav {
  background-color: #fbaea8;
}

#HeroImage {
  background-color: #d470cc;
}

main {
  background-color: #aad2ed;
}

aside {
  background-color: #6ad78a;
}

footer {
  background-color: #6e859c;
}

.comingsoon::after {
  content: " *Coming Soon*";
  color: blue;
  font-size: 0.65em;
}

a[target=_blank]::after {
  content: " ⇗";
}

/* ========================================================== */
/* Layout Imports */
/* ========================================================== */
/* ===================================== 
   About Me
======================================== */
#About {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 15px;
  grid-template-areas: "about-intro" "achievements" "skills";
}
@media screen and (min-width: 992px) {
  #About {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "about-intro skills" "achievements achievements";
  }
}

.about-intro {
  grid-area: about-intro;
}

#Achievements {
  grid-area: achievements;
}

#Skills {
  grid-area: skills;
}

#About {
  text-align: center;
}

#Achievements {
  text-align: center;
}

.achievements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 15px;
}

.achievement {
  text-align: center;
}
.achievement img {
  max-width: 50px;
}

#Skills {
  margin: auto;
}

/* ========================================================== */
/* Header */
/* ========================================================== */
header {
  padding: 0.15em !important;
  background-color: #3f8abf;
}

.profilepic-lnk {
  width: 100%;
  height: 100%;
  min-height: 75px;
}

.profilepic-img {
  border-radius: 50%;
  width: 100%;
  max-width: 150px;
  height: auto;
  margin: auto;
}

/* ========================================================== */
/* Hero Image */
/* ========================================================== */
#HeroImage {
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/Banner_edited.jpg") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.heroElements {
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-video {
  position: relative;
  width: 100%;
  height: 100%;
  top: 100%;
}
.background-video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.hero-text {
  position: fixed;
  z-index: 1;
  top: 100%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-text h1 {
  position: relative;
  top: 35%;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 1.25rem;
  color: #fff;
  font-weight: 600;
}
.hero-text p {
  position: relative;
  top: 40%;
}

/* ========================================================== */
/* Component Imports */
/* ========================================================== */
/* ===================================== 
   Grid Layout
======================================== */
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(75px, 1fr) minmax(200px, 9fr);
  grid-template-rows: auto minmax(400px, 5fr);
  grid-auto-rows: auto;
  grid-gap: 2px;
  grid-template-areas: "header hero-image" "nav hero-image" "nav main" "nav aside" "footer footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

#HeroImage {
  grid-area: hero-image;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

/*# sourceMappingURL=application.css.map */
