/* ===================================== 
   About Me
======================================== */

//Grid Layout

#About
{
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 15px;
    grid-template-areas:
        "about-header"
        "about-title"
        "about-intro"
        "achievements"
        "skills";

    @media #{$brk-l}
    {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "about-header about-header"
            "about-intro skills"
            "achievements achievements";
    }
}

.about-header
{
    grid-area: about-header;
}

.about-intro
{
    grid-area: about-intro;
}

#Achievements
{
    grid-area: achievements;
}

#Skills
{
    grid-area: skills;
}

//Styling

#About
{
    text-align: center;
}

.about-intro
{
    text-align: left;
}

#Achievements
{
    text-align: center;
}

.achievements
{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 15px;

    @media #{$brk-m}
    {
        grid-template-columns: 1fr 1fr;
    }
}

.achievement
{
    background-color: darken($color-primary-desat, 8%);
    padding: 10px;
    border-radius: 10px;
    text-align: center;

    img
    {
        max-width: 15%;
    }
}

#Skills
{
    margin: auto;
}

.skill
{
    list-style: none;
    font-size: 18px;
}

.top-skill
{
    font-weight: 700;
    font-size: 1.1em;

    color: rgb(0, 255, 76);
}