/* ===================================== 
   Side Menu
======================================== */

#SideMenu
{
    transition: all 0.5s ease;
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 10000%;
}

.sideMenu-container
{
    background-color: transparent;
    z-index: 200;
    width: 100%;
    height: 100%;

    position: sticky;
    top: 0;
    align-self: start;
    
    padding: 0;
    border: 0;

    overflow: hidden;
}

.sideMenu
{
    transition: ease 0.75s;
    background-color: $color-secondary-dark;
    z-index: 200;
    width: 100%;
    height: 100%;

    position: relative;
    left: 100%;
    padding: 0.15em;
    border: 0;

    width: 100%;

    &.sideMenuOpen
    {
        left: 0;
    }
}

.sideMenu-items
{
    z-index: 200;
    position: sticky;
    top: 150px;
    align-self: start;
    
    padding: 0.15em;
    border: 0;

    width: 100%;
}
