/* ===================================== 
   Page Styles
======================================== */

*
{
	box-sizing: border-box;
}

body
{
    background-image: linear-gradient(180deg, $color-secondary 40%, black);
	font-size: 1.2em;
	font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.container > *
{
    color: #fff;
    text-shadow: 0 2px 0 rgba(110,133,156,0.12);
    padding: 0.85em;
    border: 0;
}

main
{
    background-color: $color-primary-dark-desat;

    // & > div:nth-child(even)
    // {
    //     border-radius: 10px;
    //     background-color: darken($color-primary-desat, 8%);
    // }
}

aside
{
    background-color: #6ad78a; 
}

footer
{
    background-color: #6e859c;
}

.comingsoon::after
{
    content: " *Coming Soon*";
    color: red;
    font-size: 0.65em;
    //margin-left: 10px
}

a[target=_blank]::after
{
    content: " \21D7";
    //margin-left: 10px;
}

.inline
{
    display: inline;
}