/* ========================================================== */
/* Variables */
/* ========================================================== */

//Breakpoints
$brk-s          :"screen and (min-width: 576px)";
$brk-m          :"screen and (min-width: 768px)";
$brk-l          :"screen and (min-width: 992px)";
$brk-xl         :"screen and (min-width: 1200px)";

$color-primary: #0f4063;
$color-secondary: #3a4146;